.navbar-crimson {
  background-color: #9e1b32;
  border-color: #9e1b32;
}
.navbar-crimson .navbar-brand {
  color: #ffffff;
}
.navbar-crimson .navbar-brand:hover,
.navbar-crimson .navbar-brand:focus {
  color: #fffbfb;
}
.navbar-crimson .navbar-text {
  color: #ffffff;
}
.navbar-crimson .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-crimson .navbar-nav > li > a:hover,
.navbar-crimson .navbar-nav > li > a:focus {
  color: #fffbfb;
}
.navbar-crimson .navbar-nav > .active > a,
.navbar-crimson .navbar-nav > .active > a:hover,
.navbar-crimson .navbar-nav > .active > a:focus {
  color: #fffbfb;
  background-color: #9e1b32;
}
.navbar-crimson .navbar-nav > .open > a,
.navbar-crimson .navbar-nav > .open > a:hover,
.navbar-crimson .navbar-nav > .open > a:focus {
  color: #fffbfb;
  background-color: #9e1b32;
}
.navbar-crimson .navbar-toggle {
  border-color: #9e1b32;
}
.navbar-crimson .navbar-toggle:hover,
.navbar-crimson .navbar-toggle:focus {
  background-color: #9e1b32;
}
.navbar-crimson .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-crimson .navbar-collapse,
.navbar-crimson .navbar-form {
  border-color: #ffffff;
}
.navbar-crimson .navbar-link {
  color: #ffffff;
}
.navbar-crimson .navbar-link:hover {
  color: #fffbfb;
}

@media (max-width: 767px) {
  .navbar-crimson .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-crimson .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-crimson .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fffbfb;
  }
  .navbar-crimson .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-crimson .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-crimson .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fffbfb;
    background-color: #9e1b32;
  }
}
