@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<center><img src="~/Images/me.jpg"</center>
<div>
    <p>
        I am graudating from the University of Alabama with an undergraduate degree in Management Information Systems. After I graduate,
        I will be joining Acuity Brand's Lighting to pursue a career in either Project Management or Software Development.
    </p>
    <p>I am thankful for all of the people that have supported me and believed I could accomplish this, and now it is finally here. Thank you!</p>
</div>
