@{
    ViewBag.Title = "Announcement";
}

<center>
    <div class="panel-title">
        <h1>Hello there!</h1>
        <p class="lead">I have created this virtual announcement to inform you of my upcoming achievement!</p>
    </div>

    <div class="row">
            <a href="~/Home/Invitation"><img src="~/Images/evanfront.png" alt="Front of Announcement"></a>
    </div>
</center>

